# Composer
/vendor/
composer.lock
composer_2.phar
composer.phar

# IDE and OS specific files
.idea/
.DS_Store
Thumbs.db
.env

# EXPLICITLY UN-IGNORE the safe-to-share PHPStorm configuration files
!/.idea/misc.xml
!/.idea/php.xml
!/.idea/vcs.xml
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
!/.idea/inspectionProfiles/
# This line is for a custom inspection profile
!/.idea/inspectionProfiles/Project_Default.xml
