# Composer
/vendor/
composer.lock
/order-daemon/vendor/
/order-daemon/composer.lock
/order-daemon/composer_2.phar
/order-daemon/composer.phar

# WordPress
/wordpress-stubs/

# Testing
/tests/wordpress-test-lib/
# EXPLICITLY UN-IGNORE the custom testing configuration and required includes
!/tests/wordpress-test-lib/wp-tests-config.php
!/tests/wordpress-test-lib/includes

# IDE and OS specific files
.idea/
.DS_Store
Thumbs.db
.env

# EXPLICITLY UN-IGNORE the safe-to-share PHPStorm configuration files
!/.idea/misc.xml
!/.idea/php.xml
!/.idea/vcs.xml
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml
!/.idea/inspectionProfiles/
# This line is for a custom inspection profile
!/.idea/inspectionProfiles/Project_Default.xml

# Comparisons
/Autocomplete-Order-Status-for-WooCommerce-master/

# Misc unnecessary files
/web/_file_dump/
/finance/
